header {
  background: #f19bc0;
  padding: 15px 0;
  width: 100%;
}
.caixa {
  width: 960px;
  margin: 0 auto;
}
nav {
  top: 110px;
  margin-right: 10px;
  text-align: end;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
nav li:hover {
color: #DF5E5E;
text-decoration: underline;
}

a {
  color: white;
}
