@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  font-family: "Roboto", sans-serif;
}
.container {
  display: inline-block;
  width: 50%;
}

.box {
  display: flex;
  flex-direction: row;
}

hr {
  border-width: 0;
  height: 1px;
  border-top-width: 1px;
  width: 100%;
}
